services:
  app:
    build: .
    command: npm run dev
    volumes:
      - .:/usr/src/app
    depends_on:
      - postgres-db
    env_file:
      - .env/.env.development.local

  postgres-db:
    image: postgres:16
    environment:
      POSTGRES_USER: eddie
      POSTGRES_PASSWORD: Kokolusoe123
      POSTGRES_DB: scanio_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
